<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

</head>


<body>

    <!--Create container to hold HTML elements for the login page-->
    <div class="container mt-2"> 
        <!--Create row which will hold the columns-->
        <div class="row">
            <!--Create column which will take 6 places on large/medium screens, 12 places on small screens-->
            <!--Assign ID of 'leftCard' as this element will form the left card of the login page-->
          <div class="col-lg-6 col-md-6 col-sm-8" id="leftCard">
          
              <!--Add header element for title of the login card-->
            <h1>Sign into your Account</h1>
           
            <form>
           
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="input" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-sm" id="input">
                </div>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                    <label class="form-check-label" for="autoSizingCheck">
                      Remember me
                    </label>
                </div>

                <div id="passwordHelp" class="form-text">Forgot your password? Click here.</div>
                <button type="button" id="signinButton" class="btn btn-dark">Sign in</button>

                </form>

                <svg id="Google" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                </svg>

                <svg id="LinkedIn" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>


        </div>

            

            <div class="col-lg-6 col-md-6 col-sm-8" id="rightCard">
                <div class="text-center">
                    
                <svg id="musicNote" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
                    <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
                    <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
                    <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
                  </svg>
           

            <h3>W i r e | e s s</h3>
            
        </div>

             
            <div class="text-center">    
                <h2>Not a member?<br>
                    Sign up to our community...</h2>   
                <button id="registerButton" class="btn">Register</button>

                <div id="registerModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>

                        <h4>W i r e l e s s</h4>
                        <h1>Register here!</h1>
                <form>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <input id="registerField" type="text" class="form-control mb-1 form-control-sm" placeholder="First name">
                            </div>
                        <div class="col">
                            <input id="registerField" type="text" class="form-control mb-1 form-control-sm" placeholder="Last name">
                            </div>
                        </div>

                        <div class="row">
                              <div class="col-sm-12 col-lg-6">
                               <input id="registerField" type="text" class="form-control mb-1 form-control-sm" placeholder="E-Mail Address">
                               </div>
                        <div class="col">
                                   <input id="registerField" type="text" class="form-control mb-2 form-control-sm" placeholder="Phone Number">
                              </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                  <h id="Password">Password</h>
                                  <input id="passwordField" type="password" class="form-control form-control-sm mt-2 mb-1" placeholder="Password...">
                                  <input id="passwordField" type="password" class="form-control form-control-sm" placeholder="Re-type Password...">  
                                  <button id="registerButton2" class="btn btn-outline-primary"> Register now!</button>
                            </div>   
                        </div>    
                           
                               
                </form>
    

            
                            <p1 id="Support">Need support?<br>
                            Contact us via Chat or Email:</p1>
                
                    </div>
                </div>
            </div>
        </div>
       
</body>

<script src="/static/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>

</html>

