html, body  {
    background-color: #1E1E2F;
    /* margin: 0;
    width: 100vh; */
    }

#leftCard   {
    background-color: pink;
    text-align: center;
  

}

#rightCard  {
    background-color: white;
    text-align: center;
    
}


h1  {
    font-size: 24px;
    font-weight: bolder;
}

